@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.linear-animate {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    rgba(0, 115, 192, 1),
    #23d5ab
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

:root {
  --text: rgba(19, 19, 19, 1);
  --bg: rgba(255, 255, 255, 1);
  --primary: rgba(0, 115, 192, 1);
}

.dark {
  --text: rgba(255, 255, 255, 1);
  --bg: rgba(19, 19, 19, 1);
  --primary: rgba(0, 115, 192, 1);
}

@theme {
  --color-text: var(--text);
  --color-bg: var(--bg);
  --color-primary: var(--primary);
}
